@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@font-face {
  font-family: "Mark Pro";
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot");
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.svg#Mark Pro") format("svg");
}

@font-face {
  font-family: "Mark Pro Medium";
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot");
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff") format("woff"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.svg#Mark Pro Medium") format("svg");
}

@font-face {
  font-family: "Mark Pro Heavy";
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot");
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff") format("woff"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.svg#Mark Pro Heavy") format("svg");
}

@font-face {
  font-family: "Mark Pro Bold";
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot");
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff") format("woff"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.svg#Mark Pro") format("svg");
}

@font-face {
  font-family: "Mark Pro";
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot");
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.svg#Mark Pro") format("svg");
}

@font-face {
  font-family: "Mark Pro Medium";
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot");
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff") format("woff"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.svg#Mark Pro Medium") format("svg");
}

@font-face {
  font-family: "Mark Pro Heavy";
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot");
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff") format("woff"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.svg#Mark Pro Heavy") format("svg");
}

@font-face {
  font-family: "Mark Pro Bold";
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot");
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff") format("woff"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.svg#Mark Pro") format("svg");
}

body .navbar {
  padding-bottom: 0;
  padding-top: 3.75rem;
}

body .navbar .container .navbar-brand {
  width: 10.625rem;
  height: auto;
  margin-right: 2.8125rem;
  padding: 0;
}

body .navbar .container .collapse .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .navbar .container .collapse .navbar-nav .left-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .navbar .container .collapse .navbar-nav .left-line .nav-item {
  position: relative;
  margin-right: 3.75rem;
}

body .navbar .container .collapse .navbar-nav .left-line .nav-item .nav-link {
  font-family: "Mark Pro";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0;
  color: #000;
}

body .navbar .container .collapse .navbar-nav .left-line .nav-item .nav-link::before {
  top: 0.3125rem;
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  border-bottom: 0.1875rem solid #ffcf23;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  left: 50%;
  cursor: pointer;
}

body .navbar .container .collapse .navbar-nav .left-line .nav-item .nav-link:hover::before {
  width: 100%;
  left: 0;
}

body .navbar .container .collapse .navbar-nav .right-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  font-family: "Mark Pro";
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item {
  margin-left: 3.75rem;
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item:hover > .nav-link {
  color: #ffcf23 !important;
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item .nav-link {
  color: #000;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item.dropdown .dropdown-menu {
  padding: 0;
  min-width: 1.875rem;
  background: transparent;
  border: 0.0625rem solid #ffcf23;
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #fff;
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: #000;
  background: #ffcf23;
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item.dropdown .dropdown-menu .dropdown-item.active {
  background: transparent;
}

body .navbar .container .collapse .navbar-nav .right-line .nav-item.dropdown .dropdown-menu .dropdown-item.active:hover {
  background: #ffcf23;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
  background-color: #000;
}

.icon.icon-five {
  -webkit-mask-image: url("../icons/five.svg");
          mask-image: url("../icons/five.svg");
  width: 2.625rem;
  height: 2.625rem;
}

@font-face {
  font-family: "Mark Pro";
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot");
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.svg#Mark Pro") format("svg");
}

@font-face {
  font-family: "Mark Pro Medium";
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot");
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff") format("woff"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.svg#Mark Pro Medium") format("svg");
}

@font-face {
  font-family: "Mark Pro Heavy";
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot");
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff") format("woff"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.svg#Mark Pro Heavy") format("svg");
}

@font-face {
  font-family: "Mark Pro Bold";
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot");
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff") format("woff"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.svg#Mark Pro") format("svg");
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
  background-color: #000;
}

.icon.icon-five {
  -webkit-mask-image: url("../icons/five.svg");
          mask-image: url("../icons/five.svg");
  width: 2.625rem;
  height: 2.625rem;
}

.icon.icon-instagram {
  -webkit-mask-image: url("../icons/insta.svg");
          mask-image: url("../icons/insta.svg");
}

.icon.icon-facebook {
  -webkit-mask-image: url("../icons/face.svg");
          mask-image: url("../icons/face.svg");
}

.icon.icon-telegram {
  -webkit-mask-image: url("../icons/tele.svg");
          mask-image: url("../icons/tele.svg");
}

body {
  font-family: "Mark Pro";
}

body footer {
  padding: 3.125rem 0 2.375rem 0;
  background-color: #ffcf23;
}

body footer .container .row .col-7 .footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container .row .col-7 .footer_info .footer_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .container .row .col-7 .footer_info .footer_title img {
  width: 7.75rem;
  height: 2.77937rem;
  margin-bottom: 0.97062rem;
  -o-object-fit: none;
     object-fit: none;
}

body footer .container .row .col-7 .footer_info .footer_title a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.025em;
  color: #131637;
}

body footer .container .row .col-7 .footer_info .footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .container .row .col-7 .footer_info .footer_link a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.025em;
  margin-bottom: 1rem;
  color: #131637;
}

body footer .container .row .col-7 .footer_info .footer_icons .d-flex {
  margin-bottom: 0.8125rem;
}

body footer .container .row .col-7 .footer_info .footer_icons .d-flex span {
  width: 1.25rem;
  height: 1.25rem;
  background: #000;
}

body footer .container .row .col-7 .footer_info .footer_icons .d-flex a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  margin-left: 0.9375rem;
  color: #131637;
}

body footer .container .row .col-5 .footer_location img {
  width: 5.70875rem;
  height: 5.4725rem;
}

body footer .container .row .col-5 .footer_location a {
  font-family: Poppins-Regular, sans-serif;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.025em;
  width: 12rem;
  color: #131637;
  margin-left: 3.03563rem;
}

.icon.icon-sertificate {
  -webkit-mask-image: url("../Home/img/sertificate.svg");
          mask-image: url("../Home/img/sertificate.svg");
}

.icon.icon_carousel_one {
  -webkit-mask-image: url("../Home/icon/carousel-line.svg");
          mask-image: url("../Home/icon/carousel-line.svg");
}

.icon.icon_carousel_two {
  -webkit-mask-image: url("../Home/icon/carousel-line-2.svg");
          mask-image: url("../Home/icon/carousel-line-2.svg");
}

.icon.icon_carousel_three {
  -webkit-mask-image: url("../Home/icon/carousel-line-3.svg");
          mask-image: url("../Home/icon/carousel-line-3.svg");
}

.icon.icon_carousel_four {
  -webkit-mask-image: url("../Home/icon/carousel-line-4.svg");
          mask-image: url("../Home/icon/carousel-line-4.svg");
}

body {
  font-family: "Mark Pro";
}

body .navbar {
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #fff), color-stop(45%, #000));
  background: linear-gradient(to right, #fff 55%, #000 45%);
}

body .navbar .right-line .nav-item .nav-link {
  color: #fff !important;
}

body header {
  position: relative;
  padding-top: 8.75rem;
  padding-bottom: 12.1875rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #fff), color-stop(45%, #000));
  background: linear-gradient(to right, #fff 55%, #000 45%);
}

body header .container {
  position: relative;
}

body header .container .row .col-12 h1 {
  font-family: "Mark Pro Heavy";
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 4.75rem;
  letter-spacing: 0.01em;
  color: #000;
  width: 18.75rem;
  margin-bottom: 2.5rem;
}

body header .container .row .col-12 .wave {
  display: block;
  width: 5.6875rem;
  margin-bottom: 2.25rem;
}

body header .container .row .col-12 .btn_petition {
  font-family: "Mark Pro Medium";
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.375rem;
  color: #000;
  background: #ffcf23;
  border: none;
  border-radius: 0.5rem;
  padding: 1.1875rem 1.75rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

body header .container .row .col-12 .btn_petition:hover {
  padding: 1rem 1.75rem 1.375rem 1.75rem;
}

body header .container .icon-five {
  position: absolute;
  top: 0.9375rem;
  left: 19.625rem;
}

body header .container .code {
  position: absolute;
  top: 10.3125rem;
  left: 20.625rem;
}

body header .w {
  position: absolute;
  top: -3.5rem;
  right: 0;
  left: 60%;
  width: 40%;
  z-index: 0;
}

body header .codes {
  position: absolute;
  top: 12.5rem;
  left: 40%;
}

body header .person {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

body .results {
  background: #000;
  padding: 3.125rem 0 4.375rem 0;
}

body .results .container {
  position: relative;
}

body .results .container .row .col-12 h3 {
  color: #fff;
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  margin-bottom: 4.375rem;
}

body .results .container .row .col-12 .three .mini_box {
  display: inline-block;
  margin-right: 3.125rem;
}

body .results .container .row .col-12 .three .mini_box h1 {
  font-family: "Mark Pro Medium";
  font-weight: 500;
  font-size: 5rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  color: #ffcf23;
  margin-bottom: 1.25rem;
}

body .results .container .row .col-12 .three .mini_box h4 {
  font-style: Bold;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  color: #fff;
  margin-bottom: 0;
}

body .results .container .row .col-12 .three .mini_box .border_line {
  width: 10.625rem;
  height: 0.21875rem;
  background: #ffcf23;
}

body .results .container .icon-sertificate {
  position: absolute;
  right: 0;
  top: -6.25rem;
  width: 20.9375rem;
  height: 21.25rem;
  background: #fff;
}

body main {
  padding: 8.125rem 0 5rem 0;
}

body main .container .row .col-12 .direction_info {
  color: #000;
}

body main .container .row .col-12 .direction_info h1 {
  font-style: Bold;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  margin-bottom: 2.5rem;
}

body main .container .row .col-12 .direction_info p {
  width: 60%;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  margin-bottom: 0;
}

body main .container .row .course_lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  row-gap: 3.75rem;
  -webkit-column-gap: 3.75rem;
          column-gap: 3.75rem;
  margin: 3.75rem 0 3.125rem 0;
}

body main .container .row .course_lists .col-6 {
  width: 100%;
  height: 15.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f7f7f5;
  padding: 3.125rem;
  border-radius: 0.625rem;
}

body main .container .row .course_lists .col-6 .course_title {
  height: 100%;
  position: relative;
}

body main .container .row .course_lists .col-6 .course_title h2 {
  font-family: "Mark Pro Heavy";
  font-weight: 800;
  font-size: 2.1875rem;
  letter-spacing: 0.025em;
  color: #000;
  width: 15rem;
}

body main .container .row .course_lists .col-6 .course_title h3 {
  position: absolute;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.025em;
  margin-bottom: 0;
  color: #131637;
  bottom: 0;
}

body main .container .row .course_lists .col-6 img {
  width: 11.875rem;
  height: 8.125rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .container h5 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6875rem;
  margin: 0;
}

body section .row .col-12 .black {
  background: #000;
  border-radius: 0.625rem;
  margin-bottom: 5rem;
  padding: 3.75rem 3.125rem;
}

body section .row .col-12 .black h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.6875rem;
  letter-spacing: 0.025em;
  margin-bottom: 3.125rem;
}

body section .row .col-12 .black a {
  text-decoration: none;
}

body section .row .col-12 .black a .btn-help {
  font-family: "Mark Pro";
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.375rem;
  color: #000;
  background: #ffcf23;
  border: none;
  border-radius: 0.5rem;
  padding: 1.1875rem 1.75rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

body section .row .col-12 .black a .btn-help:hover {
  padding: 1.1875rem 1.5625rem 1.1875rem 1.9375rem;
}

body section .row .col-12 .black a .btn-help span {
  font-weight: bold;
}

body section .row .col-12 .sertificate_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffcf23;
  padding: 3.125rem;
  margin-bottom: 5rem;
  border-radius: 0.625rem;
}

body section .row .col-12 .sertificate_content .sertificete_title {
  color: #000;
}

body section .row .col-12 .sertificate_content .sertificete_title h1 {
  font-family: "Mark Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  margin-bottom: 5rem;
}

body section .row .col-12 .sertificate_content .sertificete_title p {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  width: 25rem;
  margin-bottom: 11.25rem;
}

body section .row .col-12 .sertificate_content .icon-sertificate {
  position: absolute;
  top: 14.0625rem;
  left: 28.0625rem;
  width: 8.4375rem;
  height: 8.4375rem;
}

body section .row .col-12 h2 {
  font-family: "Mark Pro Bold";
  font-weight: 700;
  font-size: 40px;
  line-height: 10px;
  color: #000;
  letter-spacing: 0.01em;
  margin-bottom: 4.6875rem;
}

body section .row .learning_options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  row-gap: 2.5rem;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  padding: 0 0.75rem;
  margin-bottom: 5rem;
}

body section .row .learning_options .col-4 {
  width: 100%;
  color: #fff;
  background: #000;
  padding-top: 3.75rem;
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .row .learning_options .col-4 h1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  letter-spacing: 0.025em;
  text-align: center;
  width: 14rem;
  margin: auto;
}

body section .row .learning_options .col-4 h3 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  letter-spacing: 0.025em;
  padding: 0 3.125rem;
  text-align: center;
  margin: 1.25rem 0 1.875rem 0;
  width: 405px;
}

body section h4 {
  font-family: "Mark Pro Bold";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 0.625rem;
  color: #000;
  margin-bottom: 4.375rem;
}

body .carousels .container .row .carousel .carousel-indicators {
  bottom: -2.8125rem !important;
}

body .carousels .container .row .carousel .carousel-indicators button {
  width: 3.125rem;
  height: 0.25rem;
  border: none;
  opacity: 1;
  background: #000;
}

body .carousels .container .row .carousel .carousel-indicators button.active {
  background: #ffcf23;
}

body .carousels .container .row .carousel .carousel-inner .carousel-item .carousel-div {
  width: 23%;
  color: #000;
  background: #fff;
}

body .carousels .container .row .carousel .carousel-inner .carousel-item .carousel-div img {
  width: 100%;
  border-radius: 0.625rem;
  margin-bottom: 1.5625rem;
}

body .carousels .container .row .carousel .carousel-inner .carousel-item .carousel-div h1 {
  width: 90%;
  font-family: "Mark Pro Heavy";
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  padding-bottom: 1.875rem;
  border-bottom: 0.0625rem solid #000;
  margin-bottom: 1.25rem;
}

body .carousels .container .row .carousel .carousel-inner .carousel-item .carousel-div h2 {
  font-family: "Mark Pro Medium";
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5625rem;
}

body .carousels .container-fluid {
  padding: 0;
  margin-top: 5.9375rem;
  overflow: hidden !important;
  margin-bottom: 4.0625rem;
}

body .carousels .container-fluid .row .owl-1 {
  border-top: 0.125rem solid #000;
  border-bottom: 0.0625rem solid #000;
}

body .carousels .container-fluid .row .owl-1 .item {
  padding: 1.25rem 0;
}

body .carousels .container-fluid .row .owl-1 .item h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-family: "Mark Pro Bold";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1.6875rem;
  color: #000;
}

body .carousels .container-fluid .row .owl-1 .item h1 span {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.9375rem;
}

body .carousels .container-fluid .row .owl-2 {
  border-top: 0.0625rem solid #000;
  border-bottom: 0.0625rem solid #000;
}

body .carousels .container-fluid .row .owl-2 .item {
  padding: 1.125rem 0;
}

body .carousels .container-fluid .row .owl-2 .item h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-family: "Mark Pro Bold";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.6875rem;
  color: #000;
}

body .carousels .container-fluid .row .owl-2 .item h1 span {
  width: 2.1875rem;
  height: 2.5rem;
  margin-right: 0.9375rem;
}

body .carousels .container-fluid .row .owl-3 {
  border-top: 0.0625rem solid #000;
  border-bottom: 0.0625rem solid #000;
}

body .carousels .container-fluid .row .owl-3 .item {
  padding: 1.1875rem 0;
}

body .carousels .container-fluid .row .owl-3 .item h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-family: "Mark Pro Bold";
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.6875rem;
  color: #000;
}

body .carousels .container-fluid .row .owl-3 .item h1 span {
  width: 1.6875rem;
  height: 1.6875rem;
  margin-right: 0.625rem;
}

body .carousels .container-fluid .row .owl-4 {
  border-top: 0.0625rem solid #000;
  border-bottom: 0.125rem solid #000;
}

body .carousels .container-fluid .row .owl-4 .item {
  padding: 1.125rem 0;
}

body .carousels .container-fluid .row .owl-4 .item h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-family: "Mark Pro Bold";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  color: #000;
}

body .carousels .container-fluid .row .owl-4 .item h1 span {
  width: 0.8125rem;
  height: 0.8125rem;
  margin-right: 0.375rem;
}

body .forms {
  background: #000;
  padding: 6.25rem 0;
}

body .forms .container {
  background: #fff;
  border-radius: 0.625rem;
  padding: 3.125rem;
}

body .forms .container .row .col-6 {
  color: #000;
}

body .forms .container .row .col-6 h1 {
  font-family: "Mark Pro Medium";
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  margin-bottom: 2rem;
}

body .forms .container .row .col-6 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0;
  width: 28.1875rem;
}

body .forms .container .row .col-6 form .name,
body .forms .container .row .col-6 form .email,
body .forms .container .row .col-6 form .number {
  padding: 1.25rem 0.9375rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: 0.025em;
  color: #000;
  background: #f3f3f3;
  outline: none;
  border-radius: 0.3125rem;
  border: 0.3px solid #808080;
}

body .forms .container .row .col-6 form .name::-webkit-input-placeholder,
body .forms .container .row .col-6 form .email::-webkit-input-placeholder,
body .forms .container .row .col-6 form .number::-webkit-input-placeholder {
  color: #7f7f7f;
}

body .forms .container .row .col-6 form .name:-ms-input-placeholder,
body .forms .container .row .col-6 form .email:-ms-input-placeholder,
body .forms .container .row .col-6 form .number:-ms-input-placeholder {
  color: #7f7f7f;
}

body .forms .container .row .col-6 form .name::-ms-input-placeholder,
body .forms .container .row .col-6 form .email::-ms-input-placeholder,
body .forms .container .row .col-6 form .number::-ms-input-placeholder {
  color: #7f7f7f;
}

body .forms .container .row .col-6 form .name::placeholder,
body .forms .container .row .col-6 form .email::placeholder,
body .forms .container .row .col-6 form .number::placeholder {
  color: #7f7f7f;
}

body .forms .container .row .col-6 form .name {
  width: 31.25rem;
  margin-bottom: 0.625rem;
}

body .forms .container .row .col-6 form div {
  width: 31.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .forms .container .row .col-6 form div .number {
  margin-right: 1.25rem;
  width: 100%;
}

body .forms .container .row .col-6 form div .email {
  width: 100%;
}

body .forms .container .row .col-6 form button {
  width: 15rem;
  height: 3.125rem;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
  padding-left: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-left: 16.25rem;
}

body .forms .container .row .col-6 form button:hover {
  padding-left: 0.3125rem;
  color: #ffcf23;
}

body .forms .container .row .col-6 form button span {
  color: #ffcf23;
}
/*# sourceMappingURL=index.css.map */